<h1>StreamPass Index</h1>
<p>Available Passes Below:</p>

<% @passes.each do |pass| %>

<div class="pass">
	
    <a href="/passes/<%= pass.id %>"><%= pass.title %>: </a>
  	<%= pass.description %>
  	<%= pass.vendor.email %>

</div>

<% end %>