<h1>Individual Pass Page</h1>

<div class="pass">
  <b>Title:</b> <%= @pass.title %><br />
	<b>Description:</b> <%= @pass.description %><br />
	<br />
	<%= video_embed_tag(@pass.embed_code).html_safe %>

</div>

