<%= stylesheet_link_tag "vendor", :media => "all" %>

<h2>Browse Vendors...</h2>

<% @categories.each do |category| %>

<div class="categorybox">
	
	<div class="categoryname">
	
		<h3><%= category.name %></h3>
			
	</div>
	<% category.vendors.each do |vendor| %>
	<%= vendor.email %>
	<% end %>
	</div>
<% end %>




<!-- <table>
	
	<thead>
		<tr>
			<th>Vendor</th>
			<th>Content Type</th>
		</tr>
	</thead>
	
	<tbody>
		<%# @vendors.each do |vendor| %>
		<tr>
				<td>
					<a href="/vendors/<#%= vendor.id %>"><#%= vendor.email %></a>
				</td>
			<td><%#= vendor.category.name %></td>
		</tr>	
			<#% end %>

	</tbody>
	
</table> -->

			
