<h2>Browse Vendors...</h2>

<table>
	
	<thead>
		<tr>
			<th>Vendor</th>
			<th>Content Type</th>
		</tr>
	</thead>
	
	<tbody>
		<% @vendors.each do |vendor| %>
		<tr>
				<td>
					<a href="/vendors/<%= vendor.id %>"><%= vendor.name %></a>
				</td>
			<td><%= vendor.category.name %></td>
		</tr>	
			<% end %>

	</tbody>
	
</table>

			
