<%= stylesheet_link_tag "vendor", :media => "all" %>

<h2>Browse Vendors...</h2>

<% @categories.each do |category| %>

<div class="categorybox">
	
	<div class="categoryname">
	
		<h3><%= category.name %></h3>
			
	</div>
	
	<% category.vendors.each do |vendor| %>
	
<%= image_tag vendor.avatar.url, :size => "140x140" %>
	<img src="http://placehold.it/140&text=vendor+logo+image+here">
	<img src="http://placehold.it/140&text=vendor+logo+image+here">

	<% end %>
	</div>
<% end %>

