body {
	background: url('brushed_alu.png') repeat;
	position: relative;
}

header {
	position: absolute;
	top: -10px;
	height: 80px;
	width: 100%;
	background: url('dark_dotted.png') repeat;
	opacity: 0.95;
/*	box-shadow: 0px 1px 1px black;*/
	border-bottom: 1px solid #FFECCC;
}

.headercontent {
	width: 960px;
	margin: 0 auto;
	color: white;
}

.headercontent h1 {
	float: left;
	margin: 5px 20px;
	font-size: 35px;
	font-weight: 300;
	font-variant: small-caps;
}

.headercontent a {
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 1px yellow;
}

.headercontent h1 a:hover {
	color: #FFECCC;
	text-shadow: 0px 0px 2px yellow;
}

.headercontent a:hover {
	color: #FFECCC;
	text-shadow: 0px 0px 1px yellow;
}

.navpanel ul li , .userpanel ul li {
	text-decoration: none;
	display: inline;
}

.navpanel ul li {
	padding-top: 15px;
	font-size: 20px;
	font-variant: small-caps;
	float: left;
	padding-left: 40px;
}

.userpanel ul li {
	float: right;
	font-size: 15px;
	padding: 18px 12px;
	list-style: none;
}

.login ul li {
	float: right;
	list-style: none;
	padding-left: 5px;
	padding-top: 18px;
	font-size: 15px;
	text-shadow: 0px 0px 1px yellow;
}

.container {
	position: relative;
	top: 80px;
	width: 960px;
	height: 1000px;
	margin: 5px auto;
	padding: 10px;
	background: white;
	box-shadow: 0px 0px 10px black;
}
